@import url(https://fonts.googleapis.com/css?family=Lato:400,500);

body {
  font-family: 'Lato', sans-serif;
}

.App {
  height: 100vh;
  width: 100%;
  display: flex;
  transition: ease all 0.5s;
}

.App #quote-box {
  position: relative;
  margin: auto;
  padding: 4%;
  width: 50%;
  height: 325px;
  border-radius: 5px;
  font-size: 26px;
}

@media only screen and (max-width: 600px) {
  .App #quote-box {
    width: 100%;
    font-size: 22px;
    height: 425px;
  }
}

@media only screen and (max-width: 1200px) and (min-width: 600px) {
  .App #quote-box {
      width: 80%;
      font-size: 24px;
  }
}

#quote-content {
  color: white;
}

#quote-content #text {
  font-size: 1em;
}

#quote-content #author {
  font-size: 0.75em
}

#quote-content #new-quote {
  position: absolute;
  bottom: 10px;
  right: 10px;
  background: none;
  outline: none;
  padding: 10px;
  border: none;
  color: white;
  font-size: 0.7em;
  cursor: pointer;
}

#quote-content #tweet-link {
  color: #fff;
}